* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container h2 {
    text-decoration: underline;
}

#temp {
    margin: 25px 0px;
}

#temp-celcius {
    padding: 10px 20px;
    border-radius: 1.5rem;
    background-color: blue;
    color: white;
    text-align: center;
    border: 3px solid rgb(139, 139, 255);
    margin-bottom: 25px;
}

#temp-celcius p strong {
    margin-left: 10px;
}

#wind {
    margin-top: 25px;
    margin-bottom: 5px;
}

@media screen and (max-width: 767px) {
    .container h1 {
        font-size: 1.5rem;
    }

    .container img {
        width: 85px;
        height: 85px;
    }

    #temp {
        font-size: 1.2rem;
    }

    #wind {
        font-size: 1.2rem;
    }

    #temp-celcius {
        padding: 7px 15px;
    }

    #temp-celcius p strong {
        font-size: 0.9rem;
    }

    .container p {
        font-size: 0.9rem;
    }
}
